*{
    margin: 0;
    padding: 0;
}
.gazou{
    width: auto;
    height: 80px; ;
}
header{
    background-color:yellow ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width: 100%;
    z-index: 10;
}

.gazou2{
    width: 100%;
    
}
.in1 a{
    padding: 25px;
}
.ino{
   position: relative; 

}
.in2{
    width: 25ps;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgba(255, 255, 255, 0.431);
    padding: 2% 4%;
    font-weight: bold;  
}
.ro{
    display: flex;
    justify-content: center;
}
.inm{
    
 
    width: 70%;

}
.ao{
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    
}
span{
    border: 1px solid black;
    border-radius: 30px;
    padding: 1px 3px;
}

.no{
    display: flex;
    justify-content: space-between;

}
.wop{
    width: 22%;
}
.wop img{
    width: 100%;
    margin-top:50px ;
   display: flex;
    justify-content:  space-between;
    

}
.zo{
    width: 100%;
}
.zo h1{
    font-size: medium;
}
.mn{
    display: flex;
    justify-content: center;
}
.ji{
    display: flex;
    justify-content: center;
    text-decoration:none ;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 1%;
    margin: 40px;

}
.zu{
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    width: 70%;
    
    
}
.ty{ 
     width: 100%;
    background-color: rgba(120, 224, 155, 0.422);
    position: relative;
    padding: 60px 0px;
    





}
    
    

.dd{
    display: flex;
    border-bottom: 1px solid black;
    width: 90%;
    align-items: center;
    margin: auto;    
    

}
    

.qq{ 
    display: flex;
    justify-content:space-around;
    margin: 80px  ;
    
    
    
    
    
}

.yy{
    background-color: rgba(232, 232, 73, 0.719);  
    position: absolute;
    top: 70%;
    left: 85%;
    font-size: x-large;
    padding: 1% 2%;

}
.kp{
    position: absolute;
    background-color:rgba(232, 232, 73, 0.719) ;
    top: 70%;
    left: 35%;
    font-size: x-large;
    padding: 1% 2%;
    

}
.am{
    font-weight: bold;
}
.et{
    font-weight: bold;
}
.qs{
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    margin: auto;
    width: 90%;
}
.ft{ 
    display: flex;
    align-items: center;
    padding: 1% 0%;
    

}
.bv{
    display: flex;
    justify-content: center;
    padding: 4% 4%;

    

    
}
.tg{
    background-color: black;
    padding: 1% 0%;


}
.ez{
    color: aliceblue;
    display: flex;
    justify-content: center;

}





    









